.divinputRadionBase{
    display: flex;
    flex-direction: column;
}


.fromBase{
      box-shadow: 24px -5px 64px grey;
    width: 62vw;
    height: 69vh;
    border-radius: 75px;
}


.divMainBase{
     width: 40%;
    position: relative;
    left: 32%;
    top: 8%;
    font-size: 1.5em;
}

.boxInputBase{
    font-size: 1.5em;
   display: flex;
    justify-content: space-between;
}

.ClassinputBase{
    height: 3vh;
}

.InputSubmitBase{
    font-size: 1.2em;
}