.boxdivlinkmenu{
    display: flex;
    justify-content: space-between;
 
}

.cardboxdivlinkmenu{
    
    border:1px solid black;
    width: 73vw;

}

.divbuttonDivlinkMenu{
    display: flex;
    justify-content: space-between;
    width: 40%;
}