.main_layout{
box-shadow: -17px 46px 118px gray;
  width: 98%;
  position: relative;
  left: 1%;
  top: 1vh;
  height: 90vh;
  border-radius: 8px;
}

.barre_header{
    background-color: blue;

  height: 8vh;
}
